<html>
    <head>

    </head>
    <body>

    </body>
    <script server>
        (function(model,req,res,next){
           
            model.xxx="dasdsa";
            return {
                post:function(){
                    debugger;
                },
                load:function(){
                    debugger;

                },
                ajax:{
                    load:function(){
                        
                    }
                }
            }
        })
    </script>
    <body>
        <%-@xxx %>
        
        <form name="testg" method="POST" role="form">
            <legend>Form title</legend>
        
            <div class="form-group">
                <label for="">label</label>
                <input type="text" name="test" class="form-control" id="" placeholder="Input field">
            </div>
        
            
        
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </body>
</html>